/* General styling */

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: rgba(0, 0, 0, .2);
}

#wrapper {
    margin: 100px auto;
    max-width: 980px;
    padding-right: 10px;
    padding-left: 10px;
}

#header {
    margin: 1% auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
}

.header-text {
    font-size: 40px;
    font-style: oblique;
    margin-bottom: 15px;
}

.direction-text {
    font-size: 18px;
    line-height: 1.8em;
}

#start-reset-btn {
    margin-bottom: 10px;
    margin-top: 10px;
}

#quiz,
#header,
#submit-btn,
#results,
#start-reset-btn-container {
    text-align: center;
}

/* button styles */

#start {
    margin-right: 10px;
}

#reset {
    margin-left: 10px;
}

#submit {
    text-align: center;
}

.submit-btn {
    margin-top: 15px;
    font-weight: bolder;
}


